* {
	box-sizing: border-box;
}


html {
	font-family: sans-serif;
}

head {
	display: none;
}

body {
	padding: 0px 0 20px 0px;
	margin: 0px;
	font: 14px/1.5 "Roboto", Helvetica, Arial, sans-serif;
	color: #f0e7d5;
	font-weight: normal;
	background-attachment: fixed !important;
	background: linear-gradient(#2a2a29, #1c1c1c);
	display: block;
}

p {
	margin: 0 0 20px;
}

h1 {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-size: 28px;
	color: #e8e8e8;
	font-weight: normal;
}

hr {
	display: block;
	-webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
}

h1, h2, h3 {
	line-height: 1.2;
	color: #e8e8e8;
	margin-bottom: 9px;
}

a {
	color: #FFCC00;
	font-weight: 400;
	text-decoration: none;
}

section {
	max-width: 650px;
	padding: 0px 0px 50px 0px;
	margin: 20px 0;
	margin-top: 70px;
	display: block;
}

section #title {
	border: 0;
	outline: none;
	margin: 0 0 -10px 0;
	padding: 0 0 0px 0;
	text-align: center;
}

section #title h1 {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 40px;
	text-align: center;
}

section #title a {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 15px;
	text-align: center;
}

section #title p {
	color: #d7cfbe;
	font-weight: normal;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	margin: 0 0 20px;
}


.wrapper {
	max-width: 650px;
	margin: 0 auto;
	position: relative;
	padding: 0 20px;
}


.top {
	font-size: 15px;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: #696969;
}

.left {
	float: left;
	margin-top: -8px;

}

.right {
	float: right;
	margin-top: -8px;
}
