* {
	margin: 0; padding: 0;
}

body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	margin: 0;
	overflow: hidden;
}

img {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

h1, a{
	color: #C9BBBB;
}

a:hover{
	font-weight: bold;
}

#title {
	font-size: 3.25em;
	padding-top: 100px;
	padding-bottom: 0px;
}

#bigass-header {
	position: fixed;
	padding-left: 100px;
	/*ITS*/
	z-index: 9001;
}

#landscape {
	width: 100%;
	height: auto;
}
