body {
	font-family: Arial, sans-serif;
	display: block;
	overflow: hidden;	
}

a {
	color: #666;
	text-decoration: none;
}

#navbar > a {
	float: right;
	padding: 8px 10px 10px 10px;
	text-decoration: none;
	color: #000;
	font-size: 13px;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #666;
	text-decoration: none;
}

button{
	margin-top: 1px;
	margin-right: 5px;
}

#signIn {
	color: #fff;
	border: 1px solid #4285f4;
	font-weight: bold;
	outline: none;
	background: #4285f4;
	padding: 0 12px;
	line-height: 28px;
	border-radius: 2px;
	opacity: 3;
}

#signIn:hover {
	box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
}

#navbar > .nLink {
	padding: 15px 8px 8px 8px;
	opacity: 0.75;
}

.search {
	width: 466px;
	padding: 0 9px;
	font: 16px Arial, sans-serif;
	line-height: 26px;
	height: 26px;
	margin-top: 5px;
	border: 0;
	outline: none;
}

#apps:hover {
	text-decoration: underline;
	opacity: 0.90;
}

#navbar {
	display: block;
	position: relative;
	top: 0px;
	width: 100%;
	height: 50px;
}

#navbar > * {
	padding-left: 5px;
	padding-right: 14px;
}

#apps {
	opacity: .65;
	margin-top: 5px;
}

#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#searchOuter {
	height: 38px;
	border: 1px rgb(217, 217, 217) solid;
	width: 480px;
	padding: 0px 9px 0px 0px;
	margin: 23px auto 0 auto;
}

#french {
	position: static;
	margin-top: 12px;
	font-size: 13px;
	color: #222;
	line-height: 28px;
}

#footer {
	display: block;
	bottom: 0;
	font-size: 10pt;
	height: 40px;
	position: absolute;
	width: 100%;
	color: #222;
	font-family: Arial, sans-serif;
	left: 0;
	right: 0;
	background: #f2f2f2;
}

#fbar {
	display: block;
	background: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	line-height: 40px;
	min-width: 980px;
	bottom: 0;
	font-size: small;
}

#left {
	display: inline-block;
	margin-left: 30px;
	font-size: small;
	white-space: nowrap;
	float: left;
	padding-bottom: 100px;
}

div div div div a {
	display: inline-block;
	margin-right: 30px;
	float: right;
	font-size: small;
	margin-bottom: 100px;
}

input[type="submit"] {
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	font-family: Arial, sans-serif;
	height: 36px;
	line-height: 27px;
	border-radius: 2px;
	font-size: 13px;
	font-weight: bold;
	border: 0;
	margin: 14px 2.5px;
	min-width: 54px;
	padding: 0 16.5px;
	text-align: center;	
	color: #757575;
}

input[type="submit"]:hover {
	background-color: #f8f8f8;
	border: 1px solid #c6c6c6;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	color: #222;
}