* {
	margin: 0; padding: 0;
}

body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	margin: 0;
	overflow: hidden;
}

h1 {
	color: #727477;
}

.btn {
  background: #7a7a7a;
	
  background-image: -webkit-linear-gradient(top, #7a7a7a, #525252);
  background-image: -moz-linear-gradient(top, #7a7a7a, #525252);
  background-image: -ms-linear-gradient(top, #7a7a7a, #525252);
  background-image: -o-linear-gradient(top, #7a7a7a, #525252);
  background-image: linear-gradient(to bottom, #7a7a7a, #525252);
	
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
	
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-size: 18px;
	width: 120px;
  text-decoration: none;
}

button:hover {
	background: #fc3c3c;
  text-decoration: none;
}

a {
	color: #91A18E;
}

a:hover{
	font-weight: bold;
}



#title {
	font-size: 3.25em;
}

#bigass-header {
	position: fixed;
	z-index: 999;
}